/* Customised css - my css */
/* --------------Menu header----------------*/

#menuF .row{
	margin-bottom: 50px !important;
}

#menu {
	padding-bottom: 25px !important;
}

#menu a{
	font-size: 20px !important;
}

#menuF.fixed .row{
	margin-bottom: 0px !important;
}

#left_menu{
	float:left;
	position:fixed;
	margin-top:150px;
  z-index: 10000;
}
#left_menu ul{
	list-style: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 50%;
}

/*.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}*/

.btn-xl {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}


#left_menu ul li{
	margin-bottom: 50px;
}

/* image */
.cBusiness img{
	margin-left:48%;
}

/* about me */
.about p{
	width:400px;
}


/* stats page */
.right_stats{
  float:right;
  border-left: 1px solid #fff;
  padding-left: 40px;
  margin-top: 50px;
}
 
 .left_stats{
    float:left;
    margin-top: 100px;
 }

.left_stats .row{
  margin-left: 110px;
}

.left_stats h3{
  font-weight: 800;
  font-size: 35px;
}

.left_stats span{
  font-size: 25px;
  font-weight: 400;
  color: #E4E615;
}

.left_stats p {
  font-size: 15px;
  font-weight: 400;
}

.textP h3{
  color:#fff !important;
}

.chart span , .percent:after{
   color:#fff !important;
}

.Fresh {
  margin-bottom: 100px !important;
  margin-top: 125px !important;
}